.content {
  width: calc(100% - 296px);
  margin-left: auto;
}

.sm-text {
  font-size: 12px;
  line-height: 2;
}

.fs-14 {
  font-size: 14px;
}

.star {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.img-padding {
  padding-top: 5px;
}

.card {
  &-body {
    &-text {
      padding-left: 48px;
    }
  }
}

